<div class="sidebar-wrapper" style="display: none;">
	<!-- Sidebar -->
	<div class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen}">
		<div class="sidebar-header">
			<button class="btn btn-close" (click)="toggleSidebar()">×</button>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item text-white bg-dark">Home</li>
			<li class="list-group-item text-white bg-dark">Profile</li>
			<li class="list-group-item text-white bg-dark">Settings</li>
			<li class="list-group-item text-white bg-dark">Logout</li>
		</ul>
	</div>

	<!-- Backdrop -->
	<div class="backdrop" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>

	<!-- Main Content -->
	<div class="main-content">
		<header >
			<button class="btn btn-primary" (click)="toggleSidebar()">☰</button>
			<div class="logo" style="cursor: pointer;" routerLink="/">
				<img src="logo.png" height="50px" alt=""> SALANOR
			</div>
		</header>
	</div>
</div>


<header [class.scrolled]="isScrolled" class="small-screen" style="background-color: #F3EDE1;">
	<div class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen}">
		<div class="sidebar-header">
			<span class="btn-close" (click)="toggleSidebar()">×</span>
		</div>
		<!-- <ul class="list-group list-group-flush">
			<li class="list-group-item text-white" routerLinkActive="active-link">Home</li>
			<li class="list-group-item text-white" routerLinkActive="active">Profile</li>
			<li class="list-group-item text-white" routerLinkActive="active">Settings</li>
			<li class="list-group-item text-white" routerLinkActive="active">Logout</li>
			<li class="list-group-item text-white" routerLinkActive="active">Logout</li>
		</ul> -->
		<nav class="list-group list-group-flush">
			<a class="list-group-item text-white" routerLink="/" (click)="toggleSidebar()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
			<a class="list-group-item text-white" routerLink="/about-us" (click)="toggleSidebar()" routerLinkActive="active">About</a>
			<a class="list-group-item text-white" routerLink="/product" (click)="toggleSidebar()" routerLinkActive="active">Product</a>
			<a class="list-group-item text-white" routerLink="/market-impact" (click)="toggleSidebar()" routerLinkActive="active">Impact</a>
			<a class="list-group-item text-white" routerLink="/contact-us" (click)="toggleSidebar()" routerLinkActive="active">Contact Us</a>
			<!-- <b href="javascript:void(0)" class="m-4" (click)="toggleSidebar()">
				<div>
					<a class="contact-button py-2" routerLink="/start-project">Start Project</a>
				</div>
			</b> -->
		</nav>
	</div>
	
	<!-- Backdrop -->
	<div class="backdrop" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>

	<div class="container-fluid">
		<div>
			<span class="hamburger" (click)="toggleSidebar()">☰</span>
		</div>


		<div class="left">
			<div class="logo" style="cursor: pointer;" routerLink="/">
				<img src="logo.png" height="50px" alt=""> SALANOR
			</div>
		</div>

		<!-- <div class="right">
			<span class="hamburger" (click)="toggleSidebar()">☰</span>
		</div> -->
	</div>

	<!-- Side navigation panel -->
	<!-- <div class="side-nav" [class.open]="isSidebarOpen" [class.close]="!isSidebarOpen">
		<span class="close-btn" (click)="toggleSidebar()">×</span>
		<nav>
			<a routerLink="/" (click)="toggleSidebar()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
			<a routerLink="/about" (click)="toggleSidebar()" routerLinkActive="active">About</a>
			<a routerLink="/product" (click)="toggleSidebar()" routerLinkActive="active">Product</a>
			<a routerLink="/market-impact" (click)="toggleSidebar()" routerLinkActive="active">Impact</a>
			<a routerLink="/contact-us" (click)="toggleSidebar()" routerLinkActive="active">Contact Us</a>
			<a class="contact-button mt-4" (click)="toggleSidebar()" routerLink="/start-project">Start Project</a>
		</nav>
	</div> -->
</header>









<header class="large-screen" [class.scrolled]="isScrolled" style="background-color: #F3EDE1; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
	<div class="container-fluid">
		<div class="left">
			<div class="logo" style="cursor: pointer;" routerLink="/">
				<img src="logo.png" height="50px" alt=""> SALANOR
			</div>
		</div>
	
		<div class="center">
			<nav>
				<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
				<a routerLink="/about-us" routerLinkActive="active">About Us</a>
				<a routerLink="/product" routerLinkActive="active">Product</a>
				<a routerLink="/market-impact" routerLinkActive="active">Impact</a>
				<!-- <a routerLink="/news" routerLinkActive="active">News</a> -->
				<!-- <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a> -->
			</nav>
		</div>
	
		<div class="right">
			<a class="contact-button" routerLink="/contact-us">Contact Us</a>
			<!-- <a class="contact-button" routerLink="/start-project">Start Project</a> -->
		</div>
	</div>
</header>







<!-- <main>
	<div style="height: 2000px; padding: 2rem;">
	Scroll to see the sticky header effect in action.
	</div>
</main> -->



<!-- <div #topBar class="top-bar">
	Welcome to our elegant site!
</div>

<header class="main-header" [class.sticky]="!topBarVisible">
	<nav>
	<h1>Brand</h1>
	<ul>
		<li><a routerLink="/">Home</a></li>
		<li><a routerLink="/services">Services</a></li>
		<li><a routerLink="/contact">Contact</a></li>
	</ul>
	</nav>
</header>

<main>
	<div style="height: 2000px; padding: 2rem;">
	Scroll to see the header change background as the top bar scrolls out.
	</div>
</main> -->
